<style>
	.mohw-app-wraps{
		display:flex;
	}
	.mohw-app-wraps h4{
		margin-left:10px; margin-top:10px;
	}
	.mohw-app-wraps img{
		height:37px;
	}
	.mohw-app-descs{
		margin-left:5px;
	}
	.mohw-app-button{
		text-align:left; width:100%;
	}
	.mohw-app-button span{
		font-weight:bold; color:#5E94B6;
	} 
	.mohw-hide-button{
		display:none;
	}
</style>

<h2>Missouri River Headwaters</h2>
<div>
    Description of tool.
</div>

<div class="button mohw-app-button">	
	<div class="mohw-app-wraps">
		<img src="img/physical-eco-info.png">
		<h4 class="color-primary">General Physical and Ecological Info</h4>
	</div>
	<div class="mohw-app-descs">
		This app does the following...
	</div>
</div>	
<button class="button launch-plugin mohw-hide-button" data-plugin-name="physical-eco-info"></button>

<script>
	$(".mohw-app-button").click(function(c){
		$(c.currentTarget).next().trigger("click")
	})
</script>
