<style>
	#single-plugin-mode-help-container{
	  width:425px;
	}
</style>
<p>This area is used to give the user an overview of what the app can do. We can put whatever you want in here.</p>
<p>After hitting the Get Started button below, uers can return to this screen by hitting About next tot the title above.</p>

<div style="text-align:center;">
	<button class="button button-primary openApp" style="background-color:#0096d6;">Get Started</button>
</div>	

<script>
	$(".openApp").click(function(c){
		$(c.currentTarget).parent().parent().parent().find(".button-link").trigger("click")
	})
</script>
