/* Story Map CSS /////////////////////////////////*/
/* Overall styling */
/* main styles ///////////////////////////////////////////////////////////////////*/
/* all app styles */
html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: white;
	color: #5d6165;
	font-family: colfax, -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
}

a:visited {
	color: blue;
}

.sm-bottomGap {
	margin-bottom: 20px;
}

.sm-textStyle {
	font-size: 20px;
	color: black;
	text-align: center;
}

#toMap {
	cursor: pointer;
}

/* main panel styles */
.sm-mainPanel {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	background: url("../images/mainImage.jpg") no-repeat center center fixed;
	background-size: cover;
	background-position: center top;
	z-index: 100;
}

.sm-mainPanel img {
	width: 100%;
	height: 100%;
}

.sm-mainPanelContentWrapper {
	position: absolute;
	width: 70%;
	top: 40%;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, .7);
}

.sm-mainPanelHeader {
	font-size: 2.2em;
	top: 5%;
	color: black;
	position: absolute;
	width: 65%;
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: bold;
	font-family: 'Times New Roman', Times, serif;
}

.sm-mainPanelText {
	position: relative;
	color: white;
	display: flex;
	justify-content: center;
	text-shadow: 1px 1px black;
}

.sm-mainPanelLogo {
	position: absolute;
	top: 10px;
	left: 10px;
	display: flex;
}

.sm-mainPanelLogo img {
	padding: 10px;
	height: 45px;
	width: 140px;
	background-color: rgba(255, 255, 255, .7);
	border-radius: 20px;
}

.sm-nfwf_logo {
	position: absolute;
	top: 65%;
	width: 100%;
	text-align: center;
}

.sm-nfwf_logo img {
	height: 80px;
	width: 300px;
}
.sm-mainPhotoCredit{
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: lightgray;
	font-size: 11px;
}
.sm-subPhotoCredit{
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: lightgray;
	font-size: 11px;
	z-index: 99;
}
.sm-scrollInvite {
	height: 50px;
	width: 100px;
	position: absolute;
	bottom: 25px;
}

#mapPanel {
	height: 100%;
	width: 100%;
}

/* image panels with scrolling text */

.sm-staticImagePanel {
	background: url(../images/picture1.png) no-repeat center center fixed;
	transition: background .2s linear;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.sm-floatingTextBox {
	position: relative;
	z-index: 1000;
	color: white;
	font-size: calc(8px + 1vw);
	width: 100%;
	text-shadow: 1px 1px black;
	line-height: 1.8;
	box-sizing: border-box;

}

.sm-floatingTextBox-1 div {
	width: 65%;
	padding: 10px;
	text-align: center;
	margin: auto;
}
.sm-floatingTextBox-2 div {
	width: 45%;
	padding: 10px;
	text-align: left;
	margin: auto;
	max-width: 500px;
}
.sm-floatingTextBox-3 div {
	width: 65%;
	padding: 10px;
	text-align: center;
	margin: auto;
}
.sm-innerTextBox {
	background-color: rgba(0, 0, 0, .7);
}

/* map panel cover and application styling */
.sm-appPanelCover {
	height: 100%;
	width: 100%;
	z-index: 1000;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	justify-content: center;
}

.sm-appPanelCoverText {
	margin-top: 10%;
	color: black;
	font-size: 40px;
	opacity: 1;
	width: 80%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.sm-appScrollIconWrapper {
	position: absolute;
	left: 50%;
	margin-top: 15px;
	border-radius: 10px;
}

.sm-appScrollIconWrapper:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
}

.sm-appScrollIcon {
	transform: rotate(180deg);
	padding-top: 2px;
}

.sm-backToTopText {
	font-size: 13px;
	color: white;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	padding: 6px;
}

#mapPanel {
	position: absolute;
	z-index: 999;
}

/* media queries ///////////////*/
/* screen size 900px or below*/
@media only screen and (max-width:900px) {
	.sm-textStyle {
		font-size: 1em;
		width: 95%;
	}

	.sm-mainPanelLogo {
		/*display: none;*/
		position: unset;
	}

	.sm-appPanelCoverText {
		font-size: 25px;
	}

	.sm-mainPanelHeader {
		font-size: 1.6em;
		color: black;
		text-shadow: 1pt 1pt #fff;
		font-weight: 900;
		width: 90%;
		top: 15%;
	}

	.sm-mainPanelContentWrapper {
		top: 40%;
	}

	.sm-nfwf_logo img {
		height: 50px;
		width: 200px;
	}
}

/* for screens larger than 1200px */
@media only screen and (min-width:1200px) {
	.sm-floatingTextBox {
		font-size: 20px;
	}
}

/* for screens smaller than 600px; */
@media only screen and (max-width:600px) {
	.sm-floatingTextBox {
		font-size: 14px;
	}

	.sm-floatingTextBox-1 div {
		width: 85%;
	}
	.sm-floatingTextBox-2 div {
		width: 85%;
	}
}